body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #212121;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    /* animation-name: color-fade;
    animation-duration: 7.5s;
    animation-iteration-count: infinite; */

    background: linear-gradient(217deg,whitesmoke, #95d8ff, #f1a0ff, whitesmoke);
    background-size: 400% 400%;
    animation: gradient-scroll 10s ease infinite;

}

@keyframes color-fade {
    0% {background-color:whitesmoke;}
    25% {background-color: rgb(252, 188, 198);}
    50% {background-color: rgb(83, 83, 83);}
    75% {background-color: rgb(193, 238, 253);}
    100% {background-color:whitesmoke;}
}

@keyframes gradient-scroll {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}

.container-elements {
    flex: 1;
    display: flex;
    justify-content: center;
}

#top {
    flex: 3;
    align-items: flex-end;
}

#logo {
    height: 50%;
}

#bottom {
    flex: 2;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#bottom i {
    text-decoration: none;
    color: black;
}